evaluacionU2/evaluacion2/ej1.dtd

<!ELEMENT relacion (persona*)>
<!ELEMENT persona (nombre, email*, parentesco?)>
    <!ATTLIST persona sexo (hombre | mujer) "hombre">
    <!ATTLIST persona carnet  ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT parentesco (#PCDATA)>
    <!ATTLIST parentesco tipo CDATA #IMPLIED>